###############################################################################
# config file for data acquisition server for S7-400 PLC
###############################################################################
# 
# "#" at 1 column of line will be a comment, use it to disable settings. Note
# that always on valid setting must be available
#
# Use ";" for inline comments
#
# If you want to have some text in more than one line, following lines must
# be indented with TAB, see remarks in aqdata settings
#


###############################################################################
# aqdata settings
###############################################################################
[aqdata]
place = Pöls
creator = Michael Taxis
machine = arcus EVO
order = 
remarks = ; use tab for multiline values
	arcus EVO
	service visit 2016-10-10
	
###############################################################################
# communication settings
# setting up communication parameters to S7-PLC
###############################################################################
[communication]

# IP address
# IP = 192.168.1.107 ; Test PC with PLCSIM and nettoplcsim
IP = 172.16.13.174 ; Pöls AS44
# IP = 10.34.182.95 ; Steti arcus Evo Antriebe
# IP = 10.34.182.119 ; Steti arcus Evo
# IP = 172.16.1.40 ; Suzano Antriebe
# IP = 192.168.1.244 ; Test w. PLCSIM and NetToPlcsim
# IP = 172.16.13.63 ; plcsim Pöls AS44
# IP = 127.0.0.0

# rack number, see HW Config
RACK = 0 ; 

# slot number of CPU, see HW Config
# SLOT = 4 ; Suzano Antriebe
# SLOT = 3 ; Steti arcus EVO machine PLC
# SLOT = 3 ; Steti arcus EVO drive PLC
SLOT = 3 ; Pöls arcus EVO machine PLC
# SLOT = 2 ; plcsim

# maximum attempts for connection, 0 is trying forever
maxattempts = 10

###############################################################################
# miscellaneous settings
###############################################################################
[misc]
# miscellaneous values for setting up the acquisition server

# value delimiter in storage file
delimiter = ;

# prefix of data file name, e.g. a customer/project name or whatever
datafileprefix = Poels_EVO

# data file name for actual data recording, without extension!
# e.g. if you use "filename", actual name will be "filename.csv"
# datafile = Steti_EVO_drives
datafile = Poels_EVO

# autostart: when program is started decide whether acquisition is started(1)
# 			immediately or wait for start signal (0)
autostart = 1

#path for data files, use "\" for directory separation, with "\" at the end !
# e.g. datapath = D:\mydata\2015\08\03\
datapath = Z:\J\aqdata\

# if 1 use directory structure datapath\yyyyy\MM\dd otherwise use only datapath
usedir = 1

# scantime in milliseconds [ms]
scantime = 0

# maximum number of records
maxrecords = 1000



###############################################################################
# trigger settings
###############################################################################
#
# when trigger condition is matched, then we close the old file after post-trigger
# time and start the new file and copy pre-trigger and post-trigger time 
# recordings to new file
#
# condition is, with example:
# 	trgsignal 				trgcondition 	trgvalue
#   rewind diameter [mm] 	= 				0
#
[trigger]

# trigger signal, copy the name of the signal in [values]  section, 
# that you want to use as trigger signal.
# if you don't want to use a trigger, set 0 (remove comment in next line) 
# trgsignal = 0
# comment out next line, if you enable trgsignal = 0
trgsignal = >rewind diameter

# trigger condition, use >,>=,==, <=,<,!= as condition
# if conditon is matched, then we close the old file and start a new one
# trgcondition = >
# trgcondition = >=
# trgcondition = ==
# trgcondition = <=
trgcondition = <
# trgcondition = !=

# trigger value, with this value we compare the trigger signal
trgvalue = 100

# pre-trigger time in seconds [s]
# will still add pre-trigger/scantime lines to old file after trigger event
# e.g. pre-trigger is 60 seconds and scantime is 100 ms, then 600 lines will be recorded
# after trigger event
pretrg = 30

#post-trigger time in seconds [s]
# will copy last post-trigger/scantime lines from old to new file
# e.g. post-trigger is 60 seconds and scantime is 100 ms, then 600 lines will be copied
# after trigger event
posttrg = 30


###############################################################################
# debug settings
###############################################################################
[debug]

# debug level
# set logging level to debug, write program actions
# to logfile
# 0 - no logging
# 1 - log INFO messages (default setting)
# 2 - log WARNING messages
# 3 - log DEBUG messages
# 4 - log ERROR messages
# 5 - log CRITICAL messages
# 6 - log EXCEPTION messages
dbglevel = 1

# name of logfile, without extension. Extension will be added as ".log"
logfile = aqserver

# add timestamp to logfile name 1 = yes, 0 = no
# if set to 1 a timestamp will be added to the lofile name. pls. note that a 
# new logfile will be created, every time you start the server, 
# when dbglevel is > 0
logts = 1

###############################################################################
# value settings, here we define the S7 variables we want to read,
# and their formats !
###############################################################################
[values]
# here we define the S7 variables that we want to observe
# use following syntax:
#
######### how to define the names: ############################################
# use config value name with [] - brackets to define the unit of the value
# 
# boolean values:
# For boolean values (see format X above) a complete byte is read and then split into 8 bits 
# To define names for the single bits use ',' to separate the names, e.g.:
#
#	bit0,bit1,bit2,bit3,bit4,bit5,bit6,bit7 = DB1234.DX5
#	Klemmventil UM1,Klemmventil UM2,Klemmventil UM3,Klemmventil UM4,Reserve,Reserve,Reserve,Reserve = DB1234.DX5
#
# If you do not want all the bits, leave the name empty e.g.:
#
#	bit0,,bit2,,,,, = DB1234.DX5
#
# This reads only bit0  and bit2
#
#
######### how to define the values: ############################################
# (S7 variable and format)
#	DBn.AFn.x
#				
#				where 
#				- DB is for data blocks or omitted if other area
#				- n is DB number or omitted if other area
#				- . only when data, omitted otherwise
#				- A is area
#					- D for data 
#					- M or F for flags
#					- E or I for inputs
#					- A or Q for outputs
#					- T for timers
#					- Z or C for counters
#				- F is format 
#					- X - for BYTE in BOOL format, followed by byte address:
#						- n is whole number for byte address
#						  (attention to address ranges of PLC)
#						  will always be split in 8 single booleans
#					- B - for BYTE in int format, followed by byte address
#						- n is whole number for byte address
#						  (attention to address ranges of PLC)
#					- W - for WORD, followed by byte address
#						- n is whole number for byte address
#						  (attention to address ranges of PLC)
#					- D - for DOUBLE WORD, followed by byte address
#						- n is whole number for byte address
#						  (attention to address ranges of PLC)
#					- F - for DOUBLE WORD in REAL format, followed by byte address
#						- n is whole number for byte address
#						  (attention to address ranges of PLC)
#
#

<tension actual [N] = DB4615.DF570
>tension setpoint [N] = DB4615.DF674
<speed actual = DB4615.DF574
<speed ramp output = DB4615.DF590
>speed setpoint = DB4615.DF662
>rewind diameter = DB4615.DF714
<unwind rpm = DB4615.DF562
<unwind diameter = DB4615.DF546
<unwind torque = DB4615.DF550
<back drum torque = DB4615.DF554
<front drum torque = DB4615.DF558
<remaining length to position target = DB4615.DF594
>positioning target = DB4615.DF718
>drum 2 torque mode positioning length = DB4615.DF742
<brake distance = DB4615.DF598
calculated unwind caliper = DB5707.DF32
calculated unwind density = DB5707.DF36
BLW Druck Istwert Abr. [bar] = DB4797.DF604
BLW Druck Istwert Aufr. [bar] = DB4797.DF608
BLW Druck Sollwert Abr. [bar] = DB4797.DF702
BLW Druck Sollwert Aufr. [bar] = DB4797.DF706
BLW Abst. Umfang zu Drehpunkt [mm] = DB4797.DF600
Länge am Stopziel Abrolldurchmesser [m] = DB5707.DF40
Länge auf Tambour [m] = DB5707.DF44
Restlänge bis Stopziel Abrolldurchmesser [m] = DB5707.DF48
Restlänge auf Tambour [m] = DB5707.DF52
Länge pro Set aus Wurfteilung [m] = DB5707.DF56
Winkel Tragwalze 2 [0.1°] = DB4615.DF746
Ausgang Zugregelung [%] = DB4615.DF614
D2 Tragwalzenposition [°] = DB4615.DF746
RR position left = DB2331.DF2
RR position right = DB2337.DF2
100ms Zähler = DB1936.DF0
Istposition Pinole FS = DB3453.DF26
Sollposition Pinole FS = DB3453.DF2
Istposition Pinole AS = DB3278.DF26
Sollposition Pinole AS = DB3278.DF2
Step Master = DB3315.DW52
Step Slave = DB891.DW56
Pinole FS Geschwi. Ist = DB3453.DF52
Pinole TS Geschwi. Ist = DB3278.DF52
Pin.FS Vent. SW = DB3453.DF46
Pin.TS Vent. SW = DB3278.DF46
FIC198 vordere Position = DB1794.DF106
FIC200 hintere Position = DB1795.DF106
KMB FS gefiltert = DB4552.DF22
KMB AS gefiltert = DB4553.DF22
Linienkraft Istwert Rolle BLW aus KMB = DB897.DF44
Linienkraft Sollwert Rolle BLW aus KMB = DB897.DF56
Strom TW2 Verstellung AS (M34) Slave = DB1530.DF32
Strom TW2 Verstellung FS (M33) Master = DB2617.DF62
PRES_RELIEF_VIB = DB4797.DF580
Schwinggeschw. Pinole links	mm/s = DB4614.DF560
Schwinggeschw. Pinole rechts	mm/s = DB4614.DF564
Schwinggeschw. BLW	mm/s = DB4614.DF568
Rollendrehfrequenz	Hz = DB1704.DF32
Entlastungsdruck	bar = DB3218.DF2
MFD Sollwert Kurve	° = DB4872.DF148
Ausstoßer Sollposition	° = DB4889.DF2
Ausstoßer Istposition	° = DB4889.DF26
Ausstoßer Stellwert	% = DB4889.DF46
Kraft BLW auf Rollenset in Richtung Drehpunkt	N/m = DB4797.DF792
Kraft BLW auf Rollenset	N/m = DB4797.DF904
Autotrim Position Istwert	mm = DB2825.DF32
Autotrim Position Sollwert	mm = DB2825.DF50
Autotrim Position Istwert 18	mm = DB2842.DF32
Autotrim Position Sollwert 18	mm = DB2842.DF52
act pos 19 = DB131.DD72
set pos 19 = DB118.DD72
Kraftregelung Sollwert	N/m = DB588.DF726
Kraftregelung Istwert	N/m = DB588.DF592
Kraftregelung Reglerausgang = DB588.DF702
